.AnalyticsPage {
  &-unitsSelectors {
    @media screen and (min-width: 900px) {
      width: 100%;
    }
    display: flex;
    justify-content: space-between;
    .unitsSelector {
      width: 22%;
      color: #0000006a;
    }
  }
}
