.CitizenPage {
  width: 100%;
  height: 100%;

  .doneButton {
    float: right;
    margin-bottom: 0.5rem;
  }
  &-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 18px 0 13px 0;
    align-items: center;
    .backButton {
      :hover {
        background-color: rgb(245, 72, 72);
        border-color: rgb(245, 72, 72);
      }
    }
    .div-button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .addUnitButton {
        margin-right: 0.5rem;
      }
      .ListCitizen-header-button {
        width: auto;
        position: relative;
        margin-right: 0.5rem;
      }
      .ant-input-search {
        width: 70%;
      }
    }
    .search-button:not(.button:first-child) {
      width: auto;
      margin-left: 10px;
    }
    .search-button[disabled] {
      color: rgb(105, 100, 100);
    }
  }
}
.ant-dropdown-menu {
  display: block;
  max-height: 200px !important;
  overflow-y: auto;
}
.ant-dropdown-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
}
.ant-scroll-number.ant-badge-count.ant-badge-multiple-words {
  z-index: 99;
}
