.ListCitizen {
  width: 100%;
  &-header {
    margin-top: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    float: right;
    position: relative;
    z-index: 2;
    &-button {
      margin-left: 5px;
    }
  }
}

ant-drawer-content-wrapper {
  width: 100px !important;
}
