.ListCitizen {
  width: 100%;
  &-header {
    margin: 10px 0 10px 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: auto;
    position: relative;
    z-index: 2;
    &-button {
      margin-left: 5px;
    }
  }
}

ant-drawer-content-wrapper {
  width: 100px !important;
}
