.Loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  background-color: #4241413d;
  &-icon {
    width: 100px;
    height: 100px;
  }
  &-message {
    width: 90%;
    height: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
