.LoginPage {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  &-image {
    overflow: hidden;
    height: 100%;
    width: 50%;
  }
  &-form {
    padding: 100px 150px 0px 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logocontainer {
      width: 70%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 50px;
    }

    &-title {
      color: #1a202c;
      margin: 30px 0;
      strong {
        font-size: xxx-large;
      }
    }

    &-container {
      width: 70%;

      label {
        font-size: 16px;
        line-height: 20px;
        color: #4a5568;
      }

      input[type='text'],
      input[type='password'] {
        width: 100%;
        padding: 16px 15px;
        margin: 5px 0px 20px 0px;
        display: inline-block;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        box-sizing: border-box;
      }

      button {
        background-color: #009eb4;
        color: white;
        padding: 14px 15px;
        margin-bottom: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: large;
      }

      button:hover {
        opacity: 0.8;
      }
    }
  }

  &-footer {
    width: 70%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    color: #616161;
    font-size: 12px;
    line-height: 19px;
  }

  @media (max-width: 1270px) {
    .LoginPage-image {
      display: none;
    }

    .LoginPage-form {
      width: 100%;
    }
  }

  @media (max-height: 720px) {
    .LoginPage-form {
      width: 100%;
      margin: 0 auto;
    }
  }
}
