$icon: 24px;
.SideBar {
  position: relative;
  width: 80px;
  background-color: black;
  transition: 0.4s;
  &.isExpanded {
    transition: 0.4s;
    width: 200px;
    & img,
    .SideBar-avatar img {
      transition: 0.4s;
      opacity: 1;
    }

    .SideBar-featureContent {
      margin-right: 1rem;
    }

    .SideBar-featureText {
      transition: 0.4s;
      opacity: 1;
      width: 120px;
    }
    .SideBar-logOutIcon {
      transition: 0.4s;
      left: 135px;
    }
    .SideBar-avatar {
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      transition: 0.4s;
    }
    .SideBar-footer {
      justify-content: space-around;
    }
    .SideBar-feature {
      width: 100%;
    }
    // .SideBar-feature {
    // justify-content: space-around;
    // }
    .SideBar-featureIcon {
      margin-left: 15px;
      margin-right: 15px;
      transition: 0.4s;
    }
    .SideBar-btn-logoContent {
      transition: 0.4s;
      transform: rotate(-180deg);
    }
  }

  &-btn {
    width: calc(100% + 30px);
    padding: 0.5rem 0.5rem 0 0;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
    &-logoContent {
      cursor: pointer;
      transition: 0.4s;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: #373737;
    }
  }

  &-featureIcon {
    transition: 0.4s;
    display: block;
    width: $icon;
    height: $icon;
    transition: 0.4s;
    // margin-left: calc((80px - $icon) / 2);
  }

  &-appLogo {
    transition: 0.2s;
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto 0 auto;
  }
  &-textLogo {
    @extend .SideBar-appLogo;
    width: 100px;
    opacity: 0;
    margin: auto;
  }

  &-featureText {
    transition: 0.4s;
    width: 0px;
    height: 20px;
    color: #707070;
    opacity: 0;
    overflow: hidden;
    margin-bottom: 0;
  }

  &-features {
    padding: 0;
    margin: 50px 0 0 0;
  }

  &-feature {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-featureContent {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 10px;
    border-radius: 30px;
    height: 50px;
    transition: 0.2s;
    &:hover {
      transition: 0.2s;
      width: 70%;
      background-color: #373737;
      & > .SideBar-featureText {
        color: #d0d0d0;
      }
      & > .SideBar-featureIcon {
        filter: invert(80%) sepia(18%) saturate(4%) hue-rotate(338deg)
          brightness(98%) contrast(100%);
      }
    }
  }

  &-footer {
    display: flex;
    position: absolute;
    bottom: 10px;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    // background-color: gray;
    justify-content: center;
    .SideBar-avatar {
      width: 0;
      overflow: hidden;
      transition: 0.4;
      img {
        width: 50px;
        height: 50px;
        margin-bottom: 0.5rem;
        border-radius: 50%;
        border: 4px solid rgb(0, 150, 150);
        opacity: 1;
        transition: 0.2s;
      }
      p {
        color: #707070;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }

      .SideBar-logOutIcon {
        transition: 0.4s;
        width: 24px;
        height: 24px;
      }
    }
  }
}
