.TableCitizen {
  width: 100%;
  height: 500px;
  // border: 1px solid black
  // overflow-y: scroll;
  .action {
    display: flex;
    justify-content: center;
  }
  .adjust {
    color: orange;
    font-size: 1.1rem;
    padding-right: 0.3rem;
  }
  .delete {
    color: rgb(207, 38, 38);
    font-size: 1.1rem;
  }
  .clickable:hover {
    cursor: pointer;
  }
  .approve {
    color: #393cf5;
    display: block;
    margin-top: auto;
  }
  .add {
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      transition: 0.4s;
    }
  }
}

.Table {
  &-add {
    width: 50px !important;
    text-align: center !important;
  }
  &-key {
    width: 50px !important;
    text-align: center !important;
  }
  &-fullname {
    width: 200px;
  }
  &-gender {
    width: 100px !important;
  }
  &-address {
    width: 300px !important;
  }
  &-status {
    width: 80px;
    // display: flex;
    justify-content: center;
    align-items: center;
  }
  &-action {
    width: 50px;
  }
  &-code {
    width: 10% !important;
    text-align: center !important;
  }
  &-permission {
    width: 150px !important;
    text-align: center !important;
  }
  &-locality {
    width: 400px !important;
  }
  &-action {
    width: 80px !important;
  }
  &-dob {
    width: 150px !important;
    text-align: center !important;
  }
  &-religion {
    width: 100px !important;
  }
  &-job {
    width: 160px !important;
  }
  &-status {
    text-align: center !important;
  }
}
.blue {
  cursor: pointer;
  color: #39a4f5;
  margin-bottom: 0;
}

.button:not(:first-child) {
  margin-left: 10px;
}
