.TableCitizen {
  position: absolute;
  width: 78vw;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 50px;
    float: right;
    position: relative;
    z-index: 10;
  }
}
.TableCitizen th {
  text-align: center !important;
  font-family: $font-roboto;
  height: 50px;
}
.TableCitizen td {
  text-align: left !important;
  font-family: $font-roboto;
}
