.TableCitizen {
  width: 100%;
  height: 500px;
  // border: 1px solid black
  // overflow-y: scroll;
  .adjust {
    color: orange;
  }
  .delete {
    color: rgb(207, 38, 38);
  }
  .add {
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      transition: 0.4s;
    }
  }
}

.Table {
  &-add {
    width: 50px !important;
    text-align: center !important;
  }
  &-key {
    width: 100px !important;
    text-align: center !important;
  }
  &-name {
    // max-width: 20% !important;
    // width: auto;
    // text-align: left !important;
  }
  &-sex {
    // width: 5%;
  }
  &-dob {
    // width: 10%;
  }
  &-identification {
    // width: 10%;
  }
  &-address {
    text-align: left !important;
  }
  &-status {
    // width: 10%;
  }
  &-action {
    width: 200px;
  }
  &-code {
    width: 200px !important;
    text-align: center !important;
  }
  &-permission {
    width: 150px !important;
    text-align: center !important;
  }
  &-locality {
    width: 400px !important;
  }
}
.blue {
  cursor: pointer;
  color: #39a4f5;
  margin-bottom: 0;
}

.button:not(:first-child) {
  margin-left: 10px;
}
