.TableAccount {
  width: 100%;
  height: 500px;
  // border: 1px solid black
  // overflow-y: scroll;
}
<<<<<<< HEAD ======= .action {
  display: flex;
  justify-content: center;
}
>>>>>>>main .adjust {
  color: orange;
}
.delete {
  color: rgb(207, 38, 38);
}
.TableAccount th {
  text-align: center !important;
  font-family: $font-roboto;
  height: 50px;
}
.TableAccount td {
  text-align: left !important;
  font-family: $font-roboto;
}

.Table {
  &-key {
    width: 60px;
  }
  &-fullname {
    width: 300px;
  }
  &-username {
    width: 150px;
  }
  &-phone {
    width: 150px;
  }
  &-locality {
    width: 200px;
  }
  &-permission {
    width: 120px;
  }
}
